@using BookStore_project.Models.Category;
@using Entity;
@model CategoryCreateViewModel
@{
    ViewData["Title"] = "Create Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Category</h1>
<nav aria-label="breadcrumb">
     <ol class="breadcrumb">
     <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
     <li class="breadcrumb-item"><a asp-action="Index">Category List</a></li>
     <li class="breadcrumb-item active" aria-current="page">Category Create</li>
     </ol>
</nav><br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <fieldset>
                    <label asp-for="@Model.Name" class="control-label"></label>
                    <input class="form-control" asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </fieldset>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
