@{
    Layout = User.IsInRole("Admin") ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_layoutUser.cshtml";
}

<h2>Welcome to the Index page!</h2>

<p>This is the index page of your application.</p>