@model BookStore_project.Models.Import.ImportNumberOfProductsViewModel

<div class="form-group">
    <form asp-action="Create" method="get">
        <div class="form-group">
            <fieldset>
                <label asp-for="@Model.number" class="control-label"></label>
                <input class="form-control" asp-for="@Model.number" />
                <span asp-validation-for="number" class="text-danger"></span>
            </fieldset>
        </div>
        <a asp-action="Index">Back to List</a>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
        
    </form>
</div>