@model BookStore_project.Models.Employee.EmployeeEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EmployeeEditViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="employeeID" class="control-label">ID</label>
                <input asp-for="employeeID" class="form-control" disabled />
                <span asp-validation-for="employeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="employeeName" class="control-label">Họ và Tên</label>
                <input asp-for="employeeName" class="form-control" />
                <span asp-validation-for="employeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-select" asp-for="@Model.employeeGender">
                    <option selected>Choose Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>

            </div>
            <div class="form-group">
                <label asp-for="employeeDate_Join" class="control-label"></label>
                <input asp-for="employeeDate_Join" class="form-control" />
                <span asp-validation-for="employeeDate_Join" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="employeePhone_Number" class="control-label">Số điện thoại</label>
                <input asp-for="employeePhone_Number" class="form-control" />
                <span asp-validation-for="employeePhone_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.employeeID" />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

